# 분석에 필요한 도구 불러오기

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 한글폰트 설정

In [2]:
sns.set(font='Malgun Gothic',
        rc={'axes.unicode_minus':False},
        style='darkgrid')

In [3]:
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2106068084.py:2: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats('retina')

# 데이터 불러오기

In [4]:
df=pd.read_csv('지역별 체력통계.csv',encoding='cp949')
df.shape
df

,센터 시도코드,센터 시도명,센터 시군구코드,센터 시군구명,측정년도,측정횟수,회원수,유소년 회원 수,청소년 회원 수,성인 회원 수,...,동상 수상 건수,참가상 수상 건수,측정나이 10세 미만,측정나이 10대,측정나이 20대,측정나이 30대,측정나이 40대,측정나이 50대,측정나이 60대,측정나이 70세 이상
0,11,서울,11650,서초구,2021,388,364,0,45,273,...,110,149,0,84,162,17,6,21,56,42
1,11,서울,11740,강동구,2022,670,576,0,23,412,...,174,293,0,35,123,31,31,69,257,124
2,11,서울,11440,마포구,2022,885,801,4,62,556,...,220,426,0,106,184,71,30,71,316,107
3,11,서울,11710,송파구,2014,1476,96,0,47,1124,...,328,998,0,83,265,207,182,262,334,143
4,11,서울,11650,서초구,2022,416,390,0,15,277,...,92,192,0,36,89,26,24,61,134,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,48,경남,48127,창원시 마산회원구,2022,55,53,14,13,16,...,8,24,0,32,8,0,2,0,2,11
177,50,제주,50130,서귀포시,2014,3685,4,0,97,2432,...,868,2302,0,162,357,511,567,715,437,936
178,50,제주,50110,제주시,2021,37,26,0,1,32,...,6,22,0,7,5,2,6,1,15,1
179,60,세종,60730,세종시,2021,589,491,0,29,345,...,146,295,0,64,85,77,64,54,128,117
180,60,세종,60730,세종시,2022,1537,1483,4,1169,313,...,289,994,0,1199,101,59,63,37,55,23

# 기본 정보보기

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   센터 시도코드      181 non-null    int64
 1   센터 시도명       181 non-null    object
 2   센터 시군구코드     181 non-null    int64
 3   센터 시군구명      181 non-null    object
 4   측정년도         181 non-null    int64
 5   측정횟수         181 non-null    int64
 6   회원수          181 non-null    int64
 7   유소년 회원 수     181 non-null    int64
 8   청소년 회원 수     181 non-null    int64
 9   성인 회원 수      181 non-null    int64
 10  노인 회원 수      181 non-null    int64
 11  관리자 입력건수     181 non-null    int64
 12  인바디 입력건수     181 non-null    int64
 13  일반 측정 수      181 non-null    int64
 14  출장 측정 수      181 non-null    int64
 15  남성 회원수       181 non-null    int64
 16  여성 회원수       181 non-null    int64
 17  금상 수상 건수     181 non-null    int64
 18  은상 수상 건수     181 non-null    int64
 19  동상 수상 건수     181 non-null    int64
 20  참가상 수상 건수    181 non-null    int64
 21  측정나이 10세 미만  181 non-null    int64
 22  측정나이 10대     181 non-null    int64
 23  측정나이 20대     181 non-null    int64
 24  측정나이 30대     181 non-null    int64
 25  측정나이 40대     181 non-null    int64
 26  측정나이 50대     181 non-null    int64
 27  측정나이 60대     181 non-null    int64
 28  측정나이 70세 이상  181 non-null    int64
dtypes: int64(27), object(2)
memory usage: 41.1+ KB

In [6]:
df.isnull().sum()

센터 시도코드        0
센터 시도명         0
센터 시군구코드       0
센터 시군구명        0
측정년도           0
측정횟수           0
회원수            0
유소년 회원 수       0
청소년 회원 수       0
성인 회원 수        0
노인 회원 수        0
관리자 입력건수       0
인바디 입력건수       0
일반 측정 수        0
출장 측정 수        0
남성 회원수         0
여성 회원수         0
금상 수상 건수       0
은상 수상 건수       0
동상 수상 건수       0
참가상 수상 건수      0
측정나이 10세 미만    0
측정나이 10대       0
측정나이 20대       0
측정나이 30대       0
측정나이 40대       0
측정나이 50대       0
측정나이 60대       0
측정나이 70세 이상    0
dtype: int64

# 데이터 전처리

### 센터 시군구명을 통해 시군구 칼럼 생성하기

In [7]:
df['시군구']=df['센터 시군구명'].str.split(expand=True)[0]
df

,센터 시도코드,센터 시도명,센터 시군구코드,센터 시군구명,측정년도,측정횟수,회원수,유소년 회원 수,청소년 회원 수,성인 회원 수,...,참가상 수상 건수,측정나이 10세 미만,측정나이 10대,측정나이 20대,측정나이 30대,측정나이 40대,측정나이 50대,측정나이 60대,측정나이 70세 이상,시군구
0,11,서울,11650,서초구,2021,388,364,0,45,273,...,149,0,84,162,17,6,21,56,42,서초구
1,11,서울,11740,강동구,2022,670,576,0,23,412,...,293,0,35,123,31,31,69,257,124,강동구
2,11,서울,11440,마포구,2022,885,801,4,62,556,...,426,0,106,184,71,30,71,316,107,마포구
3,11,서울,11710,송파구,2014,1476,96,0,47,1124,...,998,0,83,265,207,182,262,334,143,송파구
4,11,서울,11650,서초구,2022,416,390,0,15,277,...,192,0,36,89,26,24,61,134,46,서초구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,48,경남,48127,창원시 마산회원구,2022,55,53,14,13,16,...,24,0,32,8,0,2,0,2,11,창원시
177,50,제주,50130,서귀포시,2014,3685,4,0,97,2432,...,2302,0,162,357,511,567,715,437,936,서귀포시
178,50,제주,50110,제주시,2021,37,26,0,1,32,...,22,0,7,5,2,6,1,15,1,제주시
179,60,세종,60730,세종시,2021,589,491,0,29,345,...,295,0,64,85,77,64,54,128,117,세종시
180,60,세종,60730,세종시,2022,1537,1483,4,1169,313,...,994,0,1199,101,59,63,37,55,23,세종시

In [8]:
df['센터 시도명'].value_counts()

경기    30
서울    19
충북    19
부산    18
전남    16
경북    14
강원    13
광주     9
전북     8
경남     8
인천     7
대전     5
충남     5
대구     5
제주     2
세종     2
울산     1
Name: 센터 시도명, dtype: int64

## 이상치 제거

In [9]:
df.describe()

,센터 시도코드,센터 시군구코드,측정년도,측정횟수,회원수,유소년 회원 수,청소년 회원 수,성인 회원 수,노인 회원 수,관리자 입력건수,...,동상 수상 건수,참가상 수상 건수,측정나이 10세 미만,측정나이 10대,측정나이 20대,측정나이 30대,측정나이 40대,측정나이 50대,측정나이 60대,측정나이 70세 이상
count,181.00000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,...,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000
mean,36.58011,36911.580110,2018.740331,1299.690608,358.104972,11.983425,217.955801,774.917127,294.834254,700.734807,...,280.154696,810.983425,0.138122,282.160221,210.784530,115.685083,141.906077,168.209945,192.977901,187.828729
std,11.59983,11575.016219,5.160101,1756.431544,716.818306,62.933428,485.295658,1141.894638,493.521152,969.143469,...,385.541320,1124.493360,1.042292,523.333356,346.229296,189.715856,237.339576,268.332381,299.123125,320.303100
min,11.00000,11140.000000,1972.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.00000,28170.000000,2014.000000,67.000000,26.000000,0.000000,0.000000,37.000000,4.000000,20.000000,...,16.000000,36.000000,0.000000,6.000000,11.000000,2.000000,2.000000,3.000000,6.000000,1.000000
50%,41.00000,41650.000000,2021.000000,373.000000,112.000000,0.000000,19.000000,170.000000,30.000000,250.000000,...,83.000000,192.000000,0.000000,62.000000,61.000000,17.000000,16.000000,24.000000,33.000000,17.000000
75%,45.00000,45140.000000,2022.000000,1882.000000,408.000000,1.000000,133.000000,679.000000,268.000000,1050.000000,...,361.000000,1309.000000,0.000000,281.000000,265.000000,106.000000,162.000000,154.000000,251.000000,169.000000
max,60.00000,60730.000000,2022.000000,5918.000000,4715.000000,745.000000,3191.000000,4445.000000,1895.000000,5299.000000,...,1631.000000,3596.000000,10.000000,3399.000000,2016.000000,858.000000,902.000000,968.000000,1296.000000,1215.000000

## 불필요한 칼럼 제거하기

In [10]:
df

,센터 시도코드,센터 시도명,센터 시군구코드,센터 시군구명,측정년도,측정횟수,회원수,유소년 회원 수,청소년 회원 수,성인 회원 수,...,참가상 수상 건수,측정나이 10세 미만,측정나이 10대,측정나이 20대,측정나이 30대,측정나이 40대,측정나이 50대,측정나이 60대,측정나이 70세 이상,시군구
0,11,서울,11650,서초구,2021,388,364,0,45,273,...,149,0,84,162,17,6,21,56,42,서초구
1,11,서울,11740,강동구,2022,670,576,0,23,412,...,293,0,35,123,31,31,69,257,124,강동구
2,11,서울,11440,마포구,2022,885,801,4,62,556,...,426,0,106,184,71,30,71,316,107,마포구
3,11,서울,11710,송파구,2014,1476,96,0,47,1124,...,998,0,83,265,207,182,262,334,143,송파구
4,11,서울,11650,서초구,2022,416,390,0,15,277,...,192,0,36,89,26,24,61,134,46,서초구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,48,경남,48127,창원시 마산회원구,2022,55,53,14,13,16,...,24,0,32,8,0,2,0,2,11,창원시
177,50,제주,50130,서귀포시,2014,3685,4,0,97,2432,...,2302,0,162,357,511,567,715,437,936,서귀포시
178,50,제주,50110,제주시,2021,37,26,0,1,32,...,22,0,7,5,2,6,1,15,1,제주시
179,60,세종,60730,세종시,2021,589,491,0,29,345,...,295,0,64,85,77,64,54,128,117,세종시
180,60,세종,60730,세종시,2022,1537,1483,4,1169,313,...,994,0,1199,101,59,63,37,55,23,세종시

In [11]:
df2=df[['센터 시도명','시군구','측정년도','측정횟수','유소년 회원 수','청소년 회원 수','성인 회원 수','노인 회원 수','남성 회원수','여성 회원수','금상 수상 건수','은상 수상 건수','동상 수상 건수','참가상 수상 건수']]
df2

,센터 시도명,시군구,측정년도,측정횟수,유소년 회원 수,청소년 회원 수,성인 회원 수,노인 회원 수,남성 회원수,여성 회원수,금상 수상 건수,은상 수상 건수,동상 수상 건수,참가상 수상 건수
0,서울,서초구,2021,388,0,45,273,70,266,122,40,89,110,149
1,서울,강동구,2022,670,0,23,412,235,447,223,56,147,174,293
2,서울,마포구,2022,885,4,62,556,263,596,289,70,169,220,426
3,서울,송파구,2014,1476,0,47,1124,305,590,886,24,126,328,998
4,서울,서초구,2022,416,0,15,277,124,262,154,38,94,92,192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경남,창원시,2022,55,14,13,16,12,46,9,6,17,8,24
177,제주,서귀포시,2014,3685,0,97,2432,1156,1472,2213,104,411,868,2302
178,제주,제주시,2021,37,0,1,32,4,27,10,3,6,6,22
179,세종,세종시,2021,589,0,29,345,215,201,388,49,99,146,295
180,세종,세종시,2022,1537,4,1169,313,51,1086,451,77,177,289,994

In [12]:
df2['수상 건수']=df2['금상 수상 건수']+df2['은상 수상 건수']+df2['동상 수상 건수']
df2

C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\3359349888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['수상 건수']=df2['금상 수상 건수']+df2['은상 수상 건수']+df2['동상 수상 건수']

,센터 시도명,시군구,측정년도,측정횟수,유소년 회원 수,청소년 회원 수,성인 회원 수,노인 회원 수,남성 회원수,여성 회원수,금상 수상 건수,은상 수상 건수,동상 수상 건수,참가상 수상 건수,수상 건수
0,서울,서초구,2021,388,0,45,273,70,266,122,40,89,110,149,239
1,서울,강동구,2022,670,0,23,412,235,447,223,56,147,174,293,377
2,서울,마포구,2022,885,4,62,556,263,596,289,70,169,220,426,459
3,서울,송파구,2014,1476,0,47,1124,305,590,886,24,126,328,998,478
4,서울,서초구,2022,416,0,15,277,124,262,154,38,94,92,192,224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경남,창원시,2022,55,14,13,16,12,46,9,6,17,8,24,31
177,제주,서귀포시,2014,3685,0,97,2432,1156,1472,2213,104,411,868,2302,1383
178,제주,제주시,2021,37,0,1,32,4,27,10,3,6,6,22,15
179,세종,세종시,2021,589,0,29,345,215,201,388,49,99,146,295,294
180,세종,세종시,2022,1537,4,1169,313,51,1086,451,77,177,289,994,543

## 명칭 바꾸기, 통일하기

In [13]:
df2['센터 시도명'].value_counts()

경기    30
서울    19
충북    19
부산    18
전남    16
경북    14
강원    13
광주     9
전북     8
경남     8
인천     7
대전     5
충남     5
대구     5
제주     2
세종     2
울산     1
Name: 센터 시도명, dtype: int64

In [14]:
df2['센터 시도명']=df2['센터 시도명'].replace('경기','경기도')
df2['센터 시도명']=df2['센터 시도명'].replace('서울','서울특별시')
df2['센터 시도명']=df2['센터 시도명'].replace('충북','충청북도')
df2['센터 시도명']=df2['센터 시도명'].replace('부산','부산광역시')
df2['센터 시도명']=df2['센터 시도명'].replace('전남','전라남도')
df2['센터 시도명']=df2['센터 시도명'].replace('경북','경상북도')
df2['센터 시도명']=df2['센터 시도명'].replace('강원','강원도')
df2['센터 시도명']=df2['센터 시도명'].replace('광주','광주광역시')
df2['센터 시도명']=df2['센터 시도명'].replace('전북','전라북도')
df2['센터 시도명']=df2['센터 시도명'].replace('경남','경상남도')
df2['센터 시도명']=df2['센터 시도명'].replace('인천','인천광역시')
df2['센터 시도명']=df2['센터 시도명'].replace('대전','대전광역시')
df2['센터 시도명']=df2['센터 시도명'].replace('충남','충청남도')
df2['센터 시도명']=df2['센터 시도명'].replace('대구','대구광역시')
df2['센터 시도명']=df2['센터 시도명'].replace('제주','제주특별자치도')
df2['센터 시도명']=df2['센터 시도명'].replace('세종','세종특별자치시')
df2['센터 시도명']=df2['센터 시도명'].replace('울산','울산광역시')

C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('경기','경기도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('서울','서울특별시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('충북','충청북도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('부산','부산광역시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('전남','전라남도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('경북','경상북도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('강원','강원도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('광주','광주광역시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('전북','전라북도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('경남','경상남도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('인천','인천광역시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('대전','대전광역시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('충남','충청남도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('대구','대구광역시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('제주','제주특별자치도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('세종','세종특별자치시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_14528\2911797799.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('울산','울산광역시')

## 비율 구하기

In [15]:
df2_ratio=df2.copy()
df2_ratio['Gold']=df2_ratio['금상 수상 건수']/df2_ratio['측정횟수']
df2_ratio['Silver']=df2_ratio['은상 수상 건수']/df2_ratio['측정횟수']
df2_ratio['Bronze']=df2_ratio['동상 수상 건수']/df2_ratio['측정횟수']
df2_ratio['Part']=df2_ratio['참가상 수상 건수']/df2_ratio['측정횟수']
df2_gb=df2_ratio.groupby(['측정년도','센터 시도명'])[['Gold','Silver','Bronze','Part']].mean()*100

In [16]:
df2_gb=df2_gb.reset_index()
df2_gb[df2_gb['측정년도']==2021].sort_values(by='Part',ascending=True)

    측정년도   센터 시도명       Gold     Silver     Bronze       Part
57  2021    대전광역시  12.345679  25.308642  24.691358  37.654321
56  2021    대구광역시  13.043478  24.223602  21.739130  40.993789
61  2021    인천광역시   3.930318  16.515060  35.008152  44.546469
60  2021  세종특별자치시   8.319185  16.808149  24.787776  50.084890
53  2021     경상남도  37.262357   5.386565   6.463878  50.887199
65  2021     충청남도   9.052685  19.027356  20.633232  51.286727
51  2021      강원도   4.415215  19.475699  23.079225  53.029861
59  2021    서울특별시   6.586571  18.432525  21.477904  53.503001
54  2021     경상북도   6.607189  18.787571  20.806273  53.798967
52  2021      경기도   3.394477  18.298900  22.086737  56.219886
66  2021     충청북도   6.566521  13.542371  20.939113  58.951995
64  2021  제주특별자치도   8.108108  16.216216  16.216216  59.459459
55  2021    광주광역시   5.110624  11.169624  20.112282  63.607469
62  2021     전라남도   3.459264  12.658573  15.607279  68.274885
58  2021    부산광역시   2.689689  12.702060  11.903276  72.704975
63  2021     전라북도   4.166667   4.166667   4.166667  87.500000

In [17]:
year_ratio=df2.copy()
year_ratio['튼튼']=(year_ratio['수상 건수'])/year_ratio['측정횟수']
year_ratio['Part']=year_ratio['참가상 수상 건수']/year_ratio['측정횟수']

year_gb=year_ratio.groupby(['측정년도','센터 시도명'])[['튼튼','Part']].mean()
year_gb=year_gb.reset_index()
year_gb_sort=year_gb[year_gb['측정년도']==2021].sort_values(by='튼튼',ascending=False)
year_gb_sort=year_gb_sort[['측정년도','센터 시도명','튼튼','Part']]

year_gb_sort = year_gb_sort.reset_index()
year_gb_sort = year_gb_sort.drop(columns =['index'])

In [18]:
year_gb_sort

    측정년도   센터 시도명        튼튼      Part
0   2021    대전광역시  0.623457  0.376543
1   2021    대구광역시  0.590062  0.409938
2   2021    인천광역시  0.554535  0.445465
3   2021  세종특별자치시  0.499151  0.500849
4   2021     경상남도  0.491128  0.508872
5   2021     충청남도  0.487133  0.512867
6   2021      강원도  0.469701  0.530299
7   2021    서울특별시  0.464970  0.535030
8   2021     경상북도  0.462010  0.537990
9   2021      경기도  0.437801  0.562199
10  2021     충청북도  0.410480  0.589520
11  2021  제주특별자치도  0.405405  0.594595
12  2021    광주광역시  0.363925  0.636075
13  2021     전라남도  0.317251  0.682749
14  2021    부산광역시  0.272950  0.727050
15  2021     전라북도  0.125000  0.875000