In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
rfgbm = pd.read_csv('rfgbm.csv')

In [3]:
rfgbm = rfgbm.dropna()

In [4]:
rfgbm_ex = rfgbm.loc[rfgbm.Q32_b == 1]

In [6]:
rfgbm_ex_gb = rfgbm_ex.groupby('LOC1').count()
rfgbm_ex_gb

      Q32_b  SEX  AGE  Q08  Q131  Q11  SEOUL  INCKKD  BUULGYEONG  ELSE
LOC1
1.0     669  669  669  669   669  669    669     669         669   669
2.0     357  357  357  357   357  357    357     357         357   357
3.0     431  431  431  431   431  431    431     431         431   431
4.0     326  326  326  326   326  326    326     326         326   326
5.0     271  271  271  271   271  271    271     271         271   271
6.0     258  258  258  258   258  258    258     258         258   258
7.0     212  212  212  212   212  212    212     212         212   212
8.0     125  125  125  125   125  125    125     125         125   125
9.0     701  701  701  701   701  701    701     701         701   701
10.0    242  242  242  242   242  242    242     242         242   242
11.0    288  288  288  288   288  288    288     288         288   288
12.0    325  325  325  325   325  325    325     325         325   325
13.0    283  283  283  283   283  283    283     283         283   283
14.0    284  284  284  284   284  284    284     284         284   284
15.0    466  466  466  466   466  466    466     466         466   466
16.0    335  335  335  335   335  335    335     335         335   335
17.0    160  160  160  160   160  160    160     160         160   160

In [8]:
rfgbm_gb = rfgbm.groupby('LOC1').count()
rfgbm_gb

      Q32_b   SEX   AGE   Q08  Q131   Q11  SEOUL  INCKKD  BUULGYEONG  ELSE
LOC1
1.0    1040  1040  1040  1040  1040  1040   1040    1040        1040  1040
2.0     612   612   612   612   612   612    612     612         612   612
3.0     519   519   519   519   519   519    519     519         519   519
4.0     574   574   574   574   574   574    574     574         574   574
5.0     408   408   408   408   408   408    408     408         408   408
6.0     408   408   408   408   408   408    408     408         408   408
7.0     351   351   351   351   351   351    351     351         351   351
8.0     195   195   195   195   195   195    195     195         195   195
9.0    1226  1226  1226  1226  1226  1226   1226    1226        1226  1226
10.0    416   416   416   416   416   416    416     416         416   416
11.0    429   429   429   429   429   429    429     429         429   429
12.0    499   499   499   499   499   499    499     499         499   499
13.0    446   446   446   446   446   446    446     446         446   446
14.0    443   443   443   443   443   443    443     443         443   443
15.0    547   547   547   547   547   547    547     547         547   547
16.0    611   611   611   611   611   611    611     611         611   611
17.0    274   274   274   274   274   274    274     274         274   274

In [9]:
qwer = rfgbm_ex_gb.Q32_b / rfgbm_gb.Q32_b

In [11]:
qwer.sort_values(ascending = False)

LOC1
15.0    0.851920
3.0     0.830443
11.0    0.671329
5.0     0.664216
12.0    0.651303
1.0     0.643269
14.0    0.641084
8.0     0.641026
13.0    0.634529
6.0     0.632353
7.0     0.603989
17.0    0.583942
2.0     0.583333
10.0    0.581731
9.0     0.571778
4.0     0.567944
16.0    0.548282
Name: Q32_b, dtype: float64

In [ ]:
경북
대구
충북
광주
충남
서울
전남
세종
전북
대전
울산
제주
부산
강원
경기
인천
경남