In [209]:
import pandas as pd
sports = pd.read_csv("OXss.csv")
sports=sports.dropna(axis=0)
sports=sports.astype('int')
sports

,Q07,SEX,AGE,Q11,Q12,Q03,Q051,Q03_f,Q32,Q351,Q352,Q32_b,Q14,Q14_b
0,1,1,16,1,0,1,3,4,5,5,5,1,1,1
1,1,0,86,0,0,0,4,3,6,4,4,1,2,0
2,0,0,28,0,0,1,2,4,1,4,4,0,2,0
3,1,1,50,0,0,0,4,3,5,4,4,1,2,0
4,1,1,82,0,0,0,5,2,7,4,4,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8993,0,0,56,0,0,0,1,3,1,3,3,0,2,0
8994,1,0,46,1,0,1,4,4,6,2,3,1,2,0
8995,1,0,60,0,0,1,4,4,6,2,2,1,2,0
8996,0,1,54,0,0,0,4,3,3,4,3,1,2,0
8997,0,0,54,0,0,0,4,3,3,4,2,1,2,0

In [210]:
sports=pd.get_dummies(sports , columns = ['Q14'])

In [211]:
sports

,Q07,SEX,AGE,Q11,Q12,Q03,Q051,Q03_f,Q32,Q351,Q352,Q32_b,Q14_b,Q14_1,Q14_2,Q14_3
0,1,1,16,1,0,1,3,4,5,5,5,1,1,1,0,0
1,1,0,86,0,0,0,4,3,6,4,4,1,0,0,1,0
2,0,0,28,0,0,1,2,4,1,4,4,0,0,0,1,0
3,1,1,50,0,0,0,4,3,5,4,4,1,0,0,1,0
4,1,1,82,0,0,0,5,2,7,4,4,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8993,0,0,56,0,0,0,1,3,1,3,3,0,0,0,1,0
8994,1,0,46,1,0,1,4,4,6,2,3,1,0,0,1,0
8995,1,0,60,0,0,1,4,4,6,2,2,1,0,0,1,0
8996,0,1,54,0,0,0,4,3,3,4,3,1,0,0,1,0
8997,0,0,54,0,0,0,4,3,3,4,2,1,0,0,1,0

In [201]:
features=sports[['Q07','SEX','AGE','Q11','Q12','Q051','Q14_b']]
know=sports['Q32_b']

from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, know)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_features = scaler.fit_transform(train_features)
test_features = scaler.transform(test_features)

### 로지스틱 회귀분석

In [202]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(train_features, train_labels)

LogisticRegression()

In [203]:
print(model.score(train_features, train_labels))
print(model.score(test_features, test_labels))

0.8352104327208062
0.832

### 로지스틱 최적화 기법으로 오즈비 찾기

In [205]:
logit=sm.Logit(train_labels,X_train_add_constant)
results=logit.fit(method = "newton")
results.summary2()

Optimization terminated successfully.
         Current function value: 0.407841
         Iterations 7

<class 'statsmodels.iolib.summary2.Summary'>
"""
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.377
Dependent Variable: Q32_b            AIC:              5520.2274
Date:               2022-11-18 22:42 BIC:              5574.7634
No. Observations:   6748             Log-Likelihood:   -2752.1
Df Model:           7                LL-Null:          -4420.5
Df Residuals:       6740             LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
------------------------------------------------------------------
           Coef.    Std.Err.      z      P>|z|     [0.025   0.975]
------------------------------------------------------------------
const      0.8873     0.0369   24.0641   0.0000    0.8150   0.9596
x1         0.3602     0.0347   10.3703   0.0000    0.2921   0.4283
x2         0.0743     0.0340    2.1890   0.0286    0.0078   0.1409
x3         0.1492     0.0345    4.3238   0.0000    0.0815   0.2168
x4         0.4780     0.0437   10.9443   0.0000    0.3924   0.5636
x5         0.2265     0.0555    4.0833   0.0000    0.1178   0.3353
x6         1.7233     0.0447   38.5533   0.0000    1.6357   1.8109
x7        -0.0327     0.0346   -0.9449   0.3447   -0.1006   0.0352
================================================================

"""

In [206]:
import numpy as np
np.exp(results.params)

const    2.428560
x1       1.433653
x2       1.077171
x3       1.160861
x4       1.612899
x5       1.254263
x6       5.603013
x7       0.967798
dtype: float64

### OLS 분석

In [204]:
import statsmodels.api as sm
X_train_add_constant=sm.add_constant(train_features)
sm_lr_ac=sm.OLS(train_labels,X_train_add_constant).fit()
sm_lr_ac.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Q32_b   R-squared:                       0.415
Model:                            OLS   Adj. R-squared:                  0.415
Method:                 Least Squares   F-statistic:                     683.8
Date:                Fri, 18 Nov 2022   Prob (F-statistic):               0.00
Time:                        22:42:19   Log-Likelihood:                -2823.5
No. Observations:                6748   AIC:                             5663.
Df Residuals:                    6740   BIC:                             5717.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6371      0.004    142.247      0.000       0.628       0.646
x1             0.0531      0.005     11.598      0.000       0.044       0.062
x2             0.0105      0.004      2.344      0.019       0.002       0.019
x3             0.0235      0.005      5.149      0.000       0.015       0.032
x4             0.0554      0.005     11.039      0.000       0.046       0.065
x5             0.0132      0.005      2.690      0.007       0.004       0.023
x6             0.2751      0.005     58.519      0.000       0.266       0.284
x7            -0.0031      0.005     -0.686      0.493      -0.012       0.006
==============================================================================
Omnibus:                      226.211   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              249.148
Skew:                          -0.470   Prob(JB):                     7.91e-55
Kurtosis:                       2.958   Cond. No.                         1.70
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [212]:
a=sports[['Q32_b','Q14_1','Q14_2','Q14_3']]
a.corr()

          Q32_b     Q14_1     Q14_2     Q14_3
Q32_b  1.000000  0.045381 -0.040190  0.001763
Q14_1  0.045381  1.000000 -0.827360 -0.064673
Q14_2 -0.040190 -0.827360  1.000000 -0.506987
Q14_3  0.001763 -0.064673 -0.506987  1.000000